// set to the smallest font-size in use
@baseFontSize: 14px;

// this is equal to the vertical grid's height
@baseLineHeight: 20px;

/* ratio of the font's height dedicated to the descender
 * you probably don't want to touch this */
@descenderRatio: 1/7;
