@baseBottom: round( (@baseLineHeight - @minFontSize) / 2 + @minFontSize * @descenderRatio );

.baseline( @fontSize ) {
	@lineHeight: ceil( @fontSize / @baseLineHeight ) * @baseLineHeight;
	@top: round( (@lineHeight - @fontSize) / 2 + @fontSize * @descenderRatio ) - @baseBottom;
	@bottom: @baseLineHeight - @top;

	font-size: @fontSize;
	line-height: @lineHeight;

	.baseline-position( @bottom, @top );
}

.baseline-position( @bottom, @top ) when( @top < 0 ) {
	margin-top: @top;
	padding-bottom: @bottom - @baseLineHeight;
	padding-top: 0;
}

.baseline-position( @bottom, @top ) when( @top = 0 ) {
	padding-bottom: 0;
	padding-top: @top;
}

.baseline-position( @bottom, @top ) when( @top > 0 ) {
	padding-bottom: @bottom;
	padding-top: @top;
}
